/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

:root{

    /* colors */
    --body-color: #E4E9F7;
    --side-bar-color: #ed146f;
    --primary-color: #ED146f;
    --primary-color-light: #ffffff;
    --toggle-color: #ddd;
    --text-color: #fff;
    --hover: #FFEFFF;
    --header: #fff;
    --header-text:#343b3c;
    --dark-text:#343b3c;
    --dark-primary:#a10c4b;
    --light-primary:#ffdae9;


    /* transition */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;

}

body{

    background: var(--primary-color-light);
    transition: var(--tran-05);
}

body.dark{
    --body-color: #18191A;
    --side-bar-color: #242526;
    --primary-color: #343B3C;
    --primary-color-light: #343b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --header:#fff;
    --header-text:#fff;
    --dark-text:#343b3c;
}

/* home */
.home{
    position: relative;
    height: 100vh;
    width: calc(100% - 250px);
    left: 250px;
    background: var(--primary-color-light);
    transition: var(--tran-05);

}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);

}


.sidebar.close ~ .home{
    left: 88px;
    width: calc(100% - 88px);
}

/* sidebar */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--side-bar-color);
    transition: var(--tran-05);
    z-index: 100;
 
}


.sidebar.close{
    width: 88px;
}
.sidebar.close .search-box input[type=text]{
    opacity: 0;
}





/*css*/

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sidebar li{
height: 50px;
margin-top: 10px;
list-style:none ;
display: flex;
align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text{
   color: var(--text-color);
   transition: var(--tran-02);
}

.sidebar header{
    position: relative;
}

.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text{
    display: flex;
    align-items:center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}



.header-text .name{
    font-weight: 600;
}

.header-text .enterprises{
    margin-top: -2px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px ;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--hover);
    display: flex;
    align-items:center;
    justify-content:center;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    color: var(--side-bar-color);
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-03);
}
.sidebar.close header .toggle{
   transform: translateY(-50%);
   
}

body.dark .sidebar header .toggle{
    transform: rotate(180deg);
    color: var(--dark-text);
}


.sidebar .menu{
    margin-top: 35px;
}

.sidebar .search-box{
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05);
    cursor: pointer;
}

.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
    transition: var(--tran-05);
    color: var(--text-color);
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04)
}

.sidebar li a:hover{
    background: var(--primary-color);

}
.sidebar li a:active{
    background: var(--primary-color);

}
.nav-link.active {
    background: var(--primary-color);
    color: var(--header);
 
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04)
  }


body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--dark-text);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--side-bar-color);

}
.menu-bar form a:hover{
    background: var(--header);
}

.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i{
    position: absolute;
    transition: var(--tran-03);
    color:var(--header-text);
}
.menu-bar .mode .mode-text{
    color: var(--header-text);
}

.menu-bar .mode i.sun{
    opacity: 0;
}

body.dark .menu-bar .mode i.sun{
    opacity: 1;
}

body.dark .menu-bar .mode i.moon{
    opacity: 0;
}

.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;  
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
 
    transition: var(--tran-05);
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
       color: var(--header-text);

}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--side-bar-color);
    transition: var(--tran-03);
  
}

body.dark .switch::before{
    left: 24px;

}

.hello{
    padding: 20px;
}

.hello .welcome{
    font-size: 32px;
    
    padding-left: 30px;
    margin-bottom: 5px;
}
.navbar-brand{
padding-left: 30px;
font-size: 16px;
}

nav.navbar{
    background: var(--side-bar-color);
    color: var(--text-color);
    transition: var(--tran-05);

}
body.dark .navbar a{
 
    color: var(--text-color);
}

div.card{
    margin-bottom: 10px;
    display: flex;
}

div.card .card-header{
    font-size: 16px;
    padding-left: 10px;
    margin-bottom: 10px;
   background: transparent;
   color: var(--header-text);
}
div.card .card-footer{
    font-size: 16px;
    padding-left: 10px;
    margin-top: 10px;
   background: var(--header);
   color: var(--header-text);
}

.row{
    padding: 0;
}
.hello .card p{
    font-size: 12px;
    margin-top: 2px;
}
.hello .card .btn-outline-primary{
    color: var(--dark-text);
    border: 1px solid var(--primary-color)!important;
}

#showcontainer .btn-outline-primary{
    color: var(--primary-color);
    border: 3px solid var(--primary-color)!important;
}
#showcontainer .btn-outline-primary:hover{
 background: var(--hover);
}
.hello .card .btn-outline-info{
    color: rgb(139, 4, 10) !important;
    border: 3px solid rgb(139, 4, 10) !important;
    font-weight: 500;
    margin-right: 10px;
  
}
.hello .card .btn-outline-secondary{
    color: #7c7c7c;
    border: 3px solid #7c7c7c!important;
    font-weight: 500;

  
}
.hello .card .btn-outline-secondary:hover{
  background: #e3e4e6;

  
}
.hello .card .btn-outline-info:hover{

    background: none!important;
}

.hello .card .btn-outline-primary:hover{
    background: var(--primary-color);
    color: var(--header);
}
body.dark .hello .card .btn-outline-primary:hover{
    background: var(--primary-color);
    color: var(--header);
}
.row-links .btn {
    text-align: left;
    justify-content: left;
}
div.p{
    font-size: 10px;
    color: var(--text-color);
}
.todo{
    margin: 20px;
}
.todo p{
    text-align: center;
    justify-content: center;
}
.hello .card .btn-primary{
    background: var(--primary-color);
    border-style: none;
    justify-content: center;
    text-align: center;
}
.card-body .nav .btn-primary{
    min-height:40px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    justify-content: center!important;
    text-align: center!important;
   }

   
.hello .card .btn-primary:hover{
    background: var(--dark-primary);
    border-style: none;
}
.hello .card .btn-primary i{
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
/* Th */
.table tr th{
    font-size:14px;
   }
   
   /* Table Data */
   .table tr td{
    font-size:14px;
    font-weight:400;
   }
   
   /* Division */
   .card .card-body div{
    transform:translatex(0px) translatey(0px);
   }
   
   /* Card body */
   .col .card .card-body{
 column-count:2;
 justify-content: center;
 padding: 29px;
}

.hello .d-grid i{
    color: var(--primary-color);
    font-size: 30px;
}
/* Button */
.hello .card .btn-primary{
    float:right;
   }
   
   .nav .nav-item a{
    color: var(--header-text);
   }

body.dark .card{
    background: var(--header);
}
body.dark .card-header,
body.dark .card-footer
{
    background: var(--header-text);
}
body.dark .card .card-body .navbar{
    background: transparent;
    transition: var(--tran-04);
}
.nav .nav-item a{
    color: var(--header);
}
.menu .search-box i{
    color: var(--header-text);
}
.home .text h1{
    color: var(--header-text);
}
.hello .card h6{
    color: var(--dark-text);
}
.menu-links .nav-link a:hover{
    background-color: var(--header);
} 

.menu-links .nav-link.active { 
     background-color: green ; 
}

.card .card-body .navbar{
    background: transparent;
}
.card-body .navbar .btn-outline-primary{
    color: var(--primary-color);
}

/* Input */
.form-inline .input-group input[type=search]{
    border-top-left-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:0px;
    border-bottom-color:#dee2e6;
    border-right-color:#dee2e6;
    border-top-color:#dee2e6;
    border-left-color:#dee2e6;
   }
 /* Th */
.table tr th{
    font-size:12px !important;
    font-weight:600;
   }
   
   /* Table Data */
   .table tr td{
    font-size:12px !important;
    font-weight:400;
   }
   
   /* Division */
   .card .card-body > div{
    transform:translatex(0px) translatey(0px);
   }
   
   /* Link */
   .pagination li a{
    color:#ed146f;
   }

   .pagination li.page-item.active span {
        background-color:#ed146f !important;
        border-color:#ed146f !important;
    }
   
   .menu .search-box input[type=text]{
    color:var(--header-text);
   }
   .table tr th{
    background:var(--primary-color);
    color:var(--header);
   }
   .hello div .card-body{
    margin: 20px;
   }
   /* Container fluid */
.card-body .navbar .container-fluid{
    padding-left:0px;
    padding-right:0px;
    transform:translatex(0px) translatey(0px);
   }
   .card-body .nav .nav-item{
    color: var(--dark-text);
   }
   
   .card-body .nav .btn-app{
    color: var(--side-bar-color);
    font-size: 14px;
   }

   
   /* Input */
   .card-body .nav input[type=text]{
    font-size:14px;

    padding-top:6px;
    padding-bottom:6px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    text-align:center;
    transform:translatex(0px) translatey(0px);
   }
   
   /* Button */
   .card-body .nav .btn-outline-primary{
    font-size:14px;
    padding-top:4px;
    padding-bottom:4px;
    line-height:1.7em;
   }

   .table tr .btn{
    color:var(--primary-color);
    background: transparent;
   }
   .table tbody tr:hover td{
        background: #f5f8fa!important;
        border: none;
    
   }
   .modal-header{
    background: var(--primary-color);
    color: var(--header);
    justify-content: space-between;
   }
   .modal-header .close{
    font-size: 35px;
   }
   .primary{
    background: var(--primary-color);
    color: var(--header);
    outline: 0;
    border-radius: 6px;
    padding: 7px 15px 7px 15px;
   } 
    .primary:hover{
    background: var(--dark-primary);
    color: var(--header);
    outline: 0;
    border: none;
   }
   .primary:focus{
    background: var(--dark-primary);
    color: var(--header);
    outline: 0;
    border: none;
   }
   .modal-body .form-group input{
    border-radius: 6px;
    margin-bottom: 10px;
   }
   .modal-body .form-group label{
    font-weight: 500;
   }
   .home .nav .badge{
    
    top: -15px;
    left: -10px;
    font-size: 10px;
    border-radius: 35%;
    border: solid 1px var(--text-color);
 

   }
    .home .nav .btn-app i {
    justify-content: center;
    text-align: center; 
    font-size: 20px;

   }
  .bottom-content{
    border-top:solid 1px var(--text-color) ;
    
  }
  .bottom-content .nav-link a:hover{
    background: var(--header);
    color: var(--side-bar-color);
    transition: var(--tran-03);
  }
.btn{
    border:none!important;
}
.card-body .nav .btn-app:hover{
    color: var(--dark-primary);
}
.col-md-12 .d-grid .btn:hover{
    color:var(--header-text);
   
}
.col-md-12 .d-grid .btn p:hover{
    color: #000;
    text-decoration-line: underline;
}


.pagination{
    --bs-pagination-hover-color: var(--dark-primary);
    --bs-pagination-focus-color: var(--side-bar-color);
    --bs-pagination-focus-box-shadow: none;
}

.nav .nav-item a:hover{
    color: var(--light-primary);
}
/* Button */
.hello h6 a{
    font-weight:500;
    color:var(--primary-color); 
    cursor: pointer;
    font-size: 14px;

    text-align: center;
    justify-content: center;
  
   }
   .hello h6 a:hover{
     color:var(--dark-primary);
    text-decoration:underline;
   }

   .todo .col-tasks .btn-app{
    font-weight:500;
    color:var(--primary-color); 
    cursor: pointer;
    font-size: 14px;
   

    text-align: center;
    justify-content: center;
    float: right;
   }
   .todo .col-tasks .btn-app:hover{
    color:var(--dark-primary);
    text-decoration:underline;
   }


   
   /* Table Data */
   .col-md-4 .card .table tr td{
    font-size:14px!important;
    font-weight:400;
    line-height:2em;
    text-align:left;
   }
   .col-md-4 .card .table tbody tr:hover td{
background: transparent;
    color: var(--dark-primary);
    transition: var(--tran-05);
   }
   .col-md-4 .card .table tbody tr td{
    border-bottom: none;

   cursor: pointer;
}
@media (max-width: 800px) {
    .card {
      flex-direction: column;
    }
  }
  .hello .card .col-tasks{
    columns: 1;
  }
/* Card */

   /* Paragraph */
.hello .card-header p{
    font-size:13px;
    padding-left:10px;
    padding-right:10px;
    color:#7c7c7c;
   }
.menu-links .nav-link.active{
    background: white!important;
    color: #ED146f!important;
    transition: var(--tran-03);
   }
   .menu-links .nav-link.active i,
   .menu-links .nav-link.active span{
    color: #ED146f;
    transition: var(--tran-03);
   }
   /* Column 4/12 */
.hello .col-md-4{
    display:grid;
   }
   .hello .col-md-3{
    display:grid;
   }

   .card{
   
    border-radius: 3px!important;
 
   }
   .nav-company{
    padding: 2px 10px 10px 30px;
    color: var(--header-text);

    border-bottom: 1px solid #818181;
 
   }
   .nav-company .nav-ctext{
    color: #818181;
    font-size: 14px;

   }
  
   .d-grid a i{
    font-size:22px !important;
   }
.d-grid nav{
    margin-bottom: 30px;
}
.d-grid ul li:active,
.d-grid ul li:hover
{
    color: var(--header-text);
   background-color: var(--light-primary);
   text-decoration: none;
   }
   
   .col{
    display: grid;
   }
  /* Card body */
.col .card #col1{
    column-count:1;
   }
#col1 p{
    color: #7c7c7c;
}
.nav-company:hover{
    color: var(--header-text);
    background-color: var(--light-primary);
    cursor: pointer;
    text-decoration: none;
}
.d-grid ul .nav-company.active{
    border-radius: 3px;
    background-color: var(--light-primary);
    cursor: pointer;
    text-decoration: none;
}
.d-grid ul .nav-company.active span{
    border-radius: 3px;
 color: var(--header-text);
 text-decoration: none;
}

.modal p{
font-size: 12px;
color: var(--header-text);
margin-bottom: 20px;
justify-content: center;
}
.modal p a{
color: var(--primary-color);
transition: var(--tran-03);
}
.modal .form-group input[type=text],
.modal .form-group input[type=email],
.modal .form-group select
{
    border: none;
    border-bottom: solid 2px #7c7c7c!important;   
    border-radius: 0!important;
}
.modal .form-group input[type=date]{
    border: solid 1px #7c7c7c!important;
    border-radius: 2px!important;
}
.modal .form-group input[type=text]:focus,
.modal .form-group input[type=email]:focus,
.modal .form-group input[type=date]:focus,
.modal .form-group select:focus,
.modal .form-group textarea:focus{
    box-shadow: none!important;
    border: none!important;
    outline: none!important;
}
.modal .form-group input[type=text]:hover,
.modal .form-group input[type=email]:hover,
.modal .form-group select:hover{
    border-bottom: solid 2px var(--primary-color)!important;   
}

.modal .form-group input[type=text]:focus,
.modal .form-group input[type=email]:focus,
.modal .form-group select:focus{
    border-bottom: solid 2px var(--primary-color)!important;   
}
.modal .form-group input[type=date]:focus{
    border: solid 2px var(--primary-color)!important;   
}
.modal .form-group label{
    font-size: 13px;
    color: var(--header-text);
    font-weight: 600;
}
.modal .form-group{
    margin-bottom: 10px;
}
.modal-xl, .modal-sm{
    margin-top: 50px;
    border-radius: 2px!important;
   
}


.modal-xl .modal-body{
    padding: 20px;


}
.modal .form-group .col-md-2 select{
    font-size: 14px;
    border-radius: 2px;
   width: 158px;
   text-align: left;

}
.modal .form-group .col select,
.modal .form-group select{
    font-size: 14px;
    border-radius: 2px;

   text-align:left;
   cursor: pointer;

}
.modal .form-group select:focus{
border-radius: 3px;
}
.modal-xl .form-group {
    display: block;

}
   
.modal .form-group input[type=date]:hover{
    border: solid 2px var(--primary-color)!important;   
}
.form-group .col-md-2{
   
    justify-content: space-between;
    margin-top: -50;
}
.form-group .col-md-6{
   
    justify-content: space-between;
    margin-top: -50;
}
.modal .form-group input[name=country]:hover{
    border-bottom: solid 2px #7c7c7c!important;   
  
}
.modal .form-group input[name=country]{
    background: transparent!important;
    color: #7c7c7c!important;
}
.form-group #statediv,
.form-group #statusdiv,
.form-group #referreddiv,
.form-group #assigneddiv,
.form-group #nameSelect,
.form-group #billingdiv,
.form-group #plandiv
{
padding-bottom: 8px!important;

}
.modal .modal-header{
    padding: 10px;

}
.modal .modal-header h5{
   font-size: 16px;
    padding-left: 10px;
}




  .modal .form-group select::-ms-expand {
 
cursor: pointer!important;

  }
  #exportCreditReportForm{
    justify-content: center;
    text-align: center;
}
#exportCreditReportForm a{
    font-size: 14px;
}
#statusdiv, #billingdiv, #plandiv{
padding-top: 10px;
}
input[type=date]{
padding-top:5px;
padding-bottom: 5px;
font-size: 14px;;
cursor: pointer;
}
input[type=date] ::-webkit-calendar-picker-indicator{
    cursor: pointer!important;
}
.form-group textarea

{
    border: solid 2px #7c7c7c!important;  

}
.form-group .importmodal{
padding-left: 10px;
}

.modal .form-group textarea:hover,
.modal .form-group textarea:active,
.modal .form-group textarea:focus
{
    border: solid 2px var(--primary-color)!important;   
}
.icon-link{
    color: var(--primary-color)!important;
    font-size: 14px!important;
    
}
.icon-link:hover,
.icon-link:focus,
.icon-link:active
{
    color: var(--dark-primary)!important;
    font-size: 14px!important;
 
    text-decoration: underline 2px var(--dark-primary);
    font-weight: 600px;
}
.btn-outline-primary:disabled{
    padding: 0!important;
    color: var(--primary-color)!important;
}

#clientviews{
    padding-top: 0!important;
}
.container-fluid.text-left .navbar{
    padding: 0px!important;
}
#clientviews a{
    text-decoration: underline;
    border-bottom: 1px solid var(--primary-color);
}
#scoretable  tr th,
#disputestatus  tr th{
    background:none!important;
    color: var(--header-text)!important;
    font-size: 10px;
   }
   .col-md-6 .card-body{
    padding-left:0px !important;
    padding-right:0px !important;
    padding-top:0px !important;
    padding-bottom:0px !important;
    display:grid!important;
   }
   #scoretable td,
   #disputestatus td{
    text-align: center;
   }
   /* Scoretable */
#scoretable .card-body .scoretable,
#disputestatus .card-body .disputestatus{
    display:inline-flex;
   }
   /* Table Data */
.scoretable tr td,
.disputestatus tr td{
    border-bottom-style:none;
   }
   #scoretable .nav h6{
    font-size: 12px!important;
    color: #7c7c7c;
   }
#scoretable tbody tr:hover td{
    background: none;
   }
   #disputestatus tbody tr:hover td{
    background: none;
   }


   .backbtn{
    margin-left: 20px!important;
    margin-top: 10px!important;
   
   }
 
   #ClientNum a{
    color: #7c7c7c;
   }
   .clientnav a{
    font-size: 14px;
     color: var(--dark-text)!important;  }
     .clientnav a:hover{
     
         color: var(--dark-primary)!important;  }
    .clientnav .nav-link{
        background: var(--light-primary);
      
    }
    /* Hello */
 
    .clientnav .nav-link.active{
        background: white;

        color: var(--dark-primary)!important;
    }
    /* Nav link */
.nav-tabs .nav-item .nav-link{
    border-right-color:rgba(165,150,153,0.996) !important;
    border-top-color:rgba(165,150,153,0.996);
    border-left-color:rgba(165,150,153,0.996) !important;
    margin-left:1px;
    margin-right:1px;
   }
   .clientnav {
    text-align: center;
    justify-content: center;
   }
   .square-unspecified {
    height: 10px;
    width: 10px;
    background-color: #008ffb;
  }
  .square-positive{
    height: 10px;
    width: 10px;
    background-color: #00e396;
  }
  .square-indispute{
    height: 10px;
    width: 10px;
    background-color:#feb019;
  }
  .squarestatus{
    text-align: left!important;
    justify-content: left!important;
  }
/* Dispute */
#disputestatus .card-body .dispute{
    transform:translatex(0px) translatey(0px);
    align-self:center;
   }
   
   .square-negative{
    height: 10px;
    width: 10px;
    background-color:#ff4560;
  }/* Scoretable */
#scoretable{
    transform:translatex(0px) translatey(0px);
    align-items:flex-start;
   }
   .square-bletters{
    height: 10px;
    width: 10px;
    background-color:#775dd0;
  }
 .fletters h6{
    text-align: center!important;
    font-size: 14px;
    color: var(--dark-text);
  }
/* Heading */
#rowdisputestatus h6{
    text-align:left !important;
   }
   /* Heading */
#disputestatus .card-header h6{
    text-align:left;
    transform:translatex(0px) translatey(0px);
    display:inline-grid;
    justify-content:normal;
    align-content:flex-end;
    padding-bottom:5px;
   }
   
   