/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

:root{

    /* colors */
    --body-color: #f1f5ff;
    --side-bar-color: #ed146f;
    --primary-color: #ED146f;
    --primary-color-light: #f2f4f7;
    --toggle-color: #ddd;
    --text-color: #fff;
    --hover: #FFEFFF;
    --header: #fff;
    --header-text:#343b3c;
    --dark-text:#343b3c;
    --dark-primary:#a10c4b;
    --light-primary:#ffdae9;


    /* transition */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;

}

body{

    background: var(--primary-color-light);
    transition: var(--tran-05);
}

body.dark{
    --body-color: #18191A;
    --side-bar-color: #242526;
    --primary-color: #343B3C;
    --primary-color-light: #343b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --header:#fff;
    --header-text:#fff;
    --dark-text:#343b3c;
}

/* home */
.home{
    position: relative;
    height: 100vh;
    width: calc(100% - 250px);
    left: 250px;
    background: var(--primary-color-light);
    transition: var(--tran-05);

}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);

}


.sidebar.close ~ .home{
    left: 88px;
    width: calc(100% - 88px);
}

/* sidebar */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--side-bar-color);
    transition: var(--tran-05);
    z-index: 100;
 
}


.sidebar.close{
    width: 88px;
}
.sidebar.close .search-box input[type=text]{
    opacity: 0;
}





/*css*/

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sidebar li{
height: 50px;
margin-top: 10px;
list-style:none ;
display: flex;
align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text{
   color: var(--text-color);
   transition: var(--tran-02);
}

.sidebar header{
    position: relative;
}

.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text{
    display: flex;
    align-items:center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}



.header-text .name{
    font-weight: 600;
}

.header-text .enterprises{
    margin-top: -2px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px ;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--hover);
    display: flex;
    align-items:center;
    justify-content:center;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    color: var(--side-bar-color);
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-03);
}
.sidebar.close header .toggle{
   transform: translateY(-50%);
   
}

body.dark .sidebar header .toggle{
    transform: rotate(180deg);
    color: var(--dark-text);
}


.sidebar .menu{
    margin-top: 35px;
}

.sidebar .search-box{
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05);
    cursor: pointer;
}

.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
    transition: var(--tran-05);
    color: var(--text-color);
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04)
}

.sidebar li a:hover{
    background: var(--primary-color);

}
.sidebar li a:active{
    background: var(--primary-color);


}

.nav-link.active {
    background: var(--primary-color);
    color: var(--header);
 
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04)
  }


body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--dark-text);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--side-bar-color);

}
.menu-bar form a:hover{
    background: var(--header);
}

.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i{
    position: absolute;
    transition: var(--tran-03);
    color:var(--header-text);
}
.menu-bar .mode .mode-text{
    color: var(--header-text);
}

.menu-bar .mode i.sun{
    opacity: 0;
}

body.dark .menu-bar .mode i.sun{
    opacity: 1;
}

body.dark .menu-bar .mode i.moon{
    opacity: 0;
}

.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;  
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
 
    transition: var(--tran-05);
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
       color: var(--header-text);

}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--side-bar-color);
    transition: var(--tran-03);
  
}

body.dark .switch::before{
    left: 24px;

}

.hello{
    padding: 20px;
}

.hello .welcome{
    font-size: 32px;
    
    padding-left: 30px;
    margin-bottom: 5px;
}
.navbar-brand{
padding-left: 30px;
font-size: 16px;
}

nav.navbar{
    background: var(--side-bar-color);
    color: var(--text-color);
    transition: var(--tran-05);

}
body.dark .navbar a{
 
    color: var(--text-color);
}

div.card{
    margin-bottom: 20px;

}

div.card .card-header{
    font-size: 16px;
    padding-left: 10px;
    margin-bottom: 10px;
   background: transparent;
   color: var(--header-text);
}
div.card .card-footer{
    font-size: 16px;
    padding-left: 10px;
    margin-top: 10px;
   background: var(--header);
   color: var(--header-text);
}

.row{
    padding: 0;
}
.hello .card p{
    font-size: 12px;
    margin-top: 2px;
}
.hello .card .btn-outline-primary{
    color: var(--dark-text);
    border: 1px solid var(--primary-color)!important;
}

#showcontainer .btn-outline-primary{
    color: var(--primary-color);
    border: 2px solid var(--primary-color)!important;
}
#showcontainer .btn-outline-primary:hover{
 background:none;
 color: var(--dark-primary);
 border: 2px solid var(--dark-primary)!important;
}
.hello .card .btn-outline-info{
    color: rgb(139, 4, 10) !important;
    border: 2px solid rgb(139, 4, 10) !important;
    font-weight: 500;
    margin-right: 10px;
    font-size: 12px;


}


.hello .card .btn-outline-secondary{
    color: #7c7c7c;
    border: 2px solid #7c7c7c!important;
    font-weight: 500;
    font-size: 12px;

  
}
.hello .card .btn-outline-secondary:hover{
  color: var(--primary-color);
  border: 2px solid var(--primary-color)!important;
  background: none;
  
}
.hello .card .btn-outline-info:hover{

    background: none!important;
}

.hello .card .btn-outline-primary:hover{
    background: var(--primary-color);
    color: var(--header);
}
body.dark .hello .card .btn-outline-primary:hover{
    background: var(--primary-color);
    color: var(--header);
}
.row-links .btn {
    text-align: left;
    justify-content: left;
}
div.p{
    font-size: 10px;
    color: var(--text-color);
}
.todo{
    margin: 20px;
}
.todo p{
    text-align: center;
    justify-content: center;
}
.hello .card .btn-primary{
    background: var(--primary-color);
    border-style: none;
    justify-content: center;
    text-align: center;
}
.card-body .nav .btn-primary{
    min-height:40px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    justify-content: center!important;
    text-align: center!important;
   }

   
.hello .card .btn-primary:hover{
    background: var(--dark-primary);
    border-style: none;
}
.hello .card .btn-primary i{
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
/* Th */
.table tr th{
    font-size:14px;
   }
   
   /* Table Data */
   .table tr td{
    font-size:14px;
    font-weight:400;
   }
   
   /* Division */
   .card .card-body div{
    transform:translatex(0px) translatey(0px);
   }
   
   /* Card body */


.hello .d-grid i{
    color: var(--primary-color);
    font-size: 30px;
}
/* Button */
.hello .card .btn-primary{
    float:right;
   }
   
   .nav .nav-item a{
    color: var(--header-text);
   }

body.dark .card{
    background: var(--header);
}
body.dark .card-header,
body.dark .card-footer
{
    background: var(--header-text);
}
body.dark .card .card-body .navbar{
    background: transparent;
    transition: var(--tran-04);
}
.nav .nav-item a{
    color: var(--header);
}
.menu .search-box i{
    color: var(--header-text);
}
.home .text h1{
    color: var(--header-text);
}
.hello .card h6{
    color: var(--dark-text);
}
.menu-links .nav-link a:hover{
    background-color: var(--header);
} 

.menu-links .nav-link.active { 
     background-color: green ; 
}

.card .card-body .navbar{
    background: transparent;
}
.card-body .navbar .btn-outline-primary{
    color: var(--primary-color);
}

/* Input */
.form-inline .input-group input[type=search]{
    border-top-left-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:0px;
    border-bottom-color:#dee2e6;
    border-right-color:#dee2e6;
    border-top-color:#dee2e6;
    border-left-color:#dee2e6;
   }
 /* Th */
.table tr th{
    font-size:12px !important;
    font-weight:600;
   }
   
   /* Table Data */
   .table tr td{
    font-size:13px !important;
    color: #3f3f3f!important;
    font-weight: 500!important;
    

   }
   
   /* Division */
   .card .card-body > div{
    transform:translatex(0px) translatey(0px);
   }
   
   /* Link */
   .pagination li a{
    color:#ed146f;
    
   }

   .pagination li.page-item.active span {
        background-color:#ed146f !important;
        border-color:#ed146f !important;
    }
   
   .menu .search-box input[type=text]{
    color:var(--header-text);
   }
   .table tr th{
    background:var(--primary-color);
    color:var(--header);
   }
   table th:first-child{
    border-radius:3px 0 0 3px;
  }
  
  table th:last-child{
    border-radius:0 3px 3px 0;
  }
 .table tr th{
    align-items: center!important;
    justify-content: center!important;
    align-self: center!important;
 }
   .hello div .card-body{
    margin: 20px;
   }
   /* Container fluid */
.card-body .navbar .container-fluid{
    padding-left:0px;
    padding-right:0px;
    transform:translatex(0px) translatey(0px);
   }
   .card-body .nav .nav-item{
    color: var(--dark-text);
   }
   
   .card-body .nav .btn-app{
    color: var(--side-bar-color);
    font-size: 14px;
   }

   
   /* Input */
   .card-body .nav input[type=text]{
    font-size:14px;

    padding-top:6px;
    padding-bottom:6px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    text-align:center;
    transform:translatex(0px) translatey(0px);
   }
   
   /* Button */
   .card-body .nav .btn-outline-primary{
    font-size:14px;
    padding-top:4px;
    padding-bottom:4px;
    line-height:1.7em;
   }

   .table tr .btn{
    color:var(--primary-color);
    background: transparent;
   }
   .table tbody tr:hover td{
        background: #f5f8fa!important;
        border: none;
    
   }
   .modal-header{
    background: var(--primary-color);
    color: var(--header);
    justify-content: space-between;
   }
   .modal-header .close{
    font-size: 35px;
   }
   .primary{
    background: var(--primary-color);
    color: var(--header);
    outline: 0;
    border-radius: 6px;
    padding: 7px 15px 7px 15px;
   } 
    .primary:hover{
    background: var(--dark-primary);
    color: var(--header);
    outline: 0;
    border: none;
   }
   .primary:focus{
    background: var(--dark-primary);
    color: var(--header);
    outline: 0;
    border: none;
   }
   .modal-body .form-group input,
   .form-group input{
    border-radius: 6px;
    margin-bottom: 10px;
   }
   .modal-body .form-group label,
  .form-group label{
    font-weight: 500;
   }
   .home .nav .badge{
    
    top: -15px;
    left: -10px;
    font-size: 10px;
    border-radius: 35%;
    border: solid 1px var(--text-color);
 

   }
    .home .nav .btn-app i {
    justify-content: center;
    text-align: center; 
    font-size: 20px;

   }
  .bottom-content{
    border-top:solid 1px var(--text-color) ;
    
  }
  .bottom-content .nav-link a:hover{
    background: var(--header);
    color: var(--side-bar-color);
    transition: var(--tran-03);
  }
.btn{
    border:none!important;
}
.card-body .nav .btn-app:hover{
    color: var(--dark-primary);
}
.col-md-12 .d-grid .btn:hover{
    color:var(--header-text);
   
}
.col-md-12 .d-grid .btn p:hover{
    color: #000;
    text-decoration-line: underline;
}


.pagination{
    --bs-pagination-hover-color: var(--dark-primary);
    --bs-pagination-focus-color: var(--side-bar-color);
    --bs-pagination-focus-box-shadow: none;
}

.nav .nav-item a:hover{
    color: var(--light-primary);
}
/* Button */
.hello h6 a{
    font-weight:500;
    color:var(--primary-color); 
    cursor: pointer;
    font-size: 14px;

    text-align: center;
    justify-content: center;
  
   }
   .hello h6 a:hover{
     color:var(--dark-primary);
    text-decoration:underline;
   }

   .todo .col-tasks .btn-app{
    font-weight:500;
    color:var(--primary-color); 
    cursor: pointer;
    font-size: 14px;
   

    text-align: center;
    justify-content: center;
    float: right;
   }
   .todo .col-tasks .btn-app:hover{
    color:var(--dark-primary);
    text-decoration:underline;
   }


   
   /* Table Data */
   .col-md-4 .card .table tr td{
    font-size:13px!important;
    font-weight:500;
    line-height:2em;
    text-align:left;
    color: #3f3f3f!important;

   }
   .col-md-4 .card .table tbody tr:hover td{
background: transparent;
    color: var(--dark-primary);
    transition: var(--tran-05);
   }
   .col-md-4 .card .table tbody tr td{
    border-bottom: none;

   cursor: pointer;
}
@media (max-width: 800px) {
    .card {
      flex-direction: column;
    }
  }
  .hello .card .col-tasks{
    columns: 1;
  }
/* Card */

   /* Paragraph */
.hello .card-header p{
    font-size:13px;
    padding-left:10px;
    padding-right:10px;
    color:#7c7c7c;
   }
.menu-links .nav-link.active{
    background: white!important;
    color: #ED146f!important;
    transition: var(--tran-03);
   }
   .menu-links .nav-link.active i,
   .menu-links .nav-link.active span{
    color: #ED146f;
    transition: var(--tran-03);
   }
   /* Column 4/12 */
.hello .col-md-4{
    display:grid;
   }
   .hello .col-md-3{
    display:grid;
   }

   .card{
    border-radius: 10px!important;
    border:none;
 
   }
   .nav-company{
    padding: 2px 10px 10px 30px;
    color: var(--header-text);

    border-bottom: 1px solid #818181;
 
   }
   .nav-company .nav-ctext{
    color: #818181;
    font-size: 14px;

   }
  
   .d-grid a i{
    font-size:22px !important;
   }
.d-grid nav{
    margin-bottom: 30px;
}
.d-grid ul li:active,
.d-grid ul li:hover
{
    color: var(--header-text);
   background-color: var(--light-primary);
   text-decoration: none;
   }
   
   .col{
    display: grid;
   }
  /* Card body */
.col .card #col1{
    column-count:1;
   }
#col1 p{
    color: #7c7c7c;
}
.nav-company:hover{
    color: var(--header-text);
    background-color: var(--light-primary);
    cursor: pointer;
    text-decoration: none;
}
.d-grid ul .nav-company.active{
    border-radius: 3px;
    background-color: var(--light-primary);
    cursor: pointer;
    text-decoration: none;
}
.d-grid ul .nav-company.active span{
    border-radius: 3px;
 color: var(--header-text);
 text-decoration: none;
}

.modal p{
font-size: 12px;
color: var(--header-text);
margin-bottom: 20px;
justify-content: center;
}
.modal p a{
color: var(--primary-color);
transition: var(--tran-03);
}
.modal .form-group input[type=text],
.form-group input[type=text],
.modal .form-group input[type=password],
.form-group input[type=password],
.modal .form-group input[type=email],
.form-group input[type=email],
.modal .form-group select,
.form-group select,
.provider select,
.modal .fields select
{
    border: none;
    border-bottom: solid 2px #7c7c7c!important;   
    border-radius: 0!important;
}
.modal .form-group input[type=date]{
    border: solid 1px #7c7c7c!important;
    border-radius: 2px!important;
}
.modal .form-group input[type=text]:focus,
.modal .form-group input[type=email]:focus,
.modal .form-group input[type=date]:focus,
.modal .form-group input[type=password]:focus,
.modal .form-group select:focus,
.modal .form-group textarea:focus,
.provider select:focus,
.modal .fields select:focus,
.form-group select:focus,
.form-group input[type=text]:focus,
.form-group input[type=password]:focus,
.form-group input[type=email]:focus,
.form-group input[type=password]:focus{
    box-shadow: none!important;
    border: none!important;
    outline: none!important;
}
.modal .form-group input[type=text]:hover,
.form-group input[type=text]:hover,
.modal .form-group input[type=password]:hover,
.modal .form-group input[type=email]:hover,
.form-group input[type=password]:hover,
.form-group input[type=email]:hover,
.modal .form-group select:hover,
.form-group select:hover,
.modal .fields select:hover,
.provider select:hover{
    border-bottom: solid 2px var(--primary-color)!important;   
}

.modal .form-group input[type=text]:focus,
.modal .form-group input[type=password]:focus,
.modal .form-group input[type=email]:focus,
.form-group input[type=text]:focus,
.form-group input[type=password]:focus,
.form-group input[type=email]:focus,
.modal .form-group select:focus,
.form-group select:focus,
.modal .fields select:focus,
.provider select:focus{
    border-bottom: solid 2px var(--primary-color)!important;   
}
.modal .form-group input[type=date]:focus{
    border: solid 2px var(--primary-color)!important;   
}
.modal .form-group label,
.form-group label{
    font-size: 13px;
    color: var(--header-text);
    font-weight: 600;
}
.modal .form-group,
.form-group{
    margin-bottom: 10px;
}
.modal-xl, .modal-sm{
    margin-top: 50px;
    border-radius: 2px!important;
   
}


.modal-xl .modal-body{
    padding: 20px;


}
 .form-group .col-md-3 select{
    margin-bottom: 10px!important;
    font-size: 14px;
    border-radius: 2px;
   width: 200px;
   text-align: left;
}
.modal .form-group .col-md-2 select,
.provider select{
    font-size: 14px;
    border-radius: 2px;
   width: 158px;
   text-align: left;

}
.modal .form-group .col select,
.modal .form-group select,
.provider select,
.modal .fields select
 {
    font-size: 14px;
    border-radius: 2px;

   text-align:left;
   cursor: pointer;

}
.modal .form-group select:focus,
.provider select:focus{
border-radius: 3px;
}
.modal-xl .form-group {
    display: block;

}
   
.modal .form-group input[type=date]:hover{
    border: solid 2px var(--primary-color)!important;   
}
.form-group .col-md-2{
   
    justify-content: space-between;
    margin-top: -50;
}
.form-group .col-md-6{
   
    justify-content: space-between;
    margin-top: -50;
}
.modal .form-group input[name=country]:hover{
    border-bottom: solid 2px #7c7c7c!important;   
  
}
.modal .form-group input[name=country]{
    background: transparent!important;
    color: #7c7c7c!important;
}
.form-group #statediv,
.form-group #statusdiv,
.form-group #referreddiv,
.form-group #assigneddiv,
.form-group #nameSelect,
.form-group #billingdiv,
.form-group #plandiv,
.form-group #cmsdiv
{
padding-bottom: 8px!important;

}
.modal .modal-header{
    padding: 10px;

}
.modal .modal-header h5{
   font-size: 16px;
    padding-left: 10px;
}




  .modal .form-group select::-ms-expand {
 
cursor: pointer!important;

  }
  #exportCreditReportForm{
    justify-content: center;
    text-align: center;
}
#exportCreditReportForm a{
    font-size: 14px;
}
#statusdiv, #billingdiv, #plandiv{
padding-top: 10px;
}
input[type=date]{
padding-top:5px;
padding-bottom: 5px;
font-size: 14px;;
cursor: pointer;
}
input[type=date] ::-webkit-calendar-picker-indicator{
    cursor: pointer!important;
}
.form-group textarea

{
    border: solid 2px #7c7c7c!important;  

}
.form-group .importmodal{
padding-left: 10px;
}

.modal .form-group textarea:hover,
.modal .form-group textarea:active,
.modal .form-group textarea:focus
{
    border: solid 2px var(--primary-color)!important;   
}
.icon-link{
    color: var(--primary-color)!important;
    font-size: 12px!important;
    
}
.icon-link:hover,
.icon-link:focus,
.icon-link:active
{
    color: var(--dark-primary)!important;
    font-size: 12px!important;
 
    text-decoration: underline 2px var(--dark-primary);
    font-weight: 600px;
}
.btn-outline-primary:disabled{
    padding: 0!important;
    color: var(--primary-color)!important;
}

#clientviews{
    padding-top: 0!important;
}
.container-fluid.text-left .navbar{
    padding: 0px!important;
}
#clientviews a{
    text-decoration: underline;
    border-bottom: 1px solid var(--primary-color);
}
#scoretable  tr th,
#disputestatus  tr th{
    background:none!important;
    color: var(--header-text)!important;
    font-size: 10px;
   }
   .col-md-6 .card-body{
    padding-left:0px !important;
    padding-right:0px !important;
    padding-top:0px !important;
    padding-bottom:0px !important;
    display:grid!important;
   }
   #scoretable td,
   #disputestatus td{
    text-align: center;
   }
   /* Scoretable */
#scoretable .card-body .scoretable,
#disputestatus .card-body .disputestatus{
    display:inline-flex;
   }
   #clientbilling .card-body{
    display:inline-flex;
    align-content: center;
   }
   /* Table Data */
.scoretable tr td,
.disputestatus tr td{
    border-bottom-style:none;
   }
   #scoretable .nav h6{
    font-size: 12px!important;
    color: #7c7c7c;
   }
#scoretable tbody tr:hover td{
    background: none;
   }
   #disputestatus tbody tr:hover td{
    background: none;
   }


   .backbtn{
    margin-left: 20px!important;
    margin-top: 10px!important;
   
   }
 
   #ClientNum a{
    color: #7c7c7c;
   }

    /* Nav link */

   .square-unspecified {
    height: 10px;
    width: 10px;
    background-color: #008ffb;
  }
  .square-positive{
    height: 10px;
    width: 10px;
    background-color: #00e396;
  }
  .square-indispute{
    height: 10px;
    width: 10px;
    background-color:#feb019;
  }
  .squarestatus{
    text-align: left!important;
    justify-content: left!important;
  }
/* Dispute */
#disputestatus .card-body .dispute{
    transform:translatex(0px) translatey(0px);
    align-self:center;
   }
   
   .square-negative{
    height: 10px;
    width: 10px;
    background-color:#ff4560;
  }/* Scoretable */
#scoretable{
    transform:translatex(0px) translatey(0px);
    align-items:flex-start;
   }
   .square-bletters{
    height: 10px;
    width: 10px;
    background-color:#775dd0;
  }
 .fletters h6{
    text-align: center!important;
    font-size: 12px;
    color: var(--dark-text);
  }
/* Heading */
#rowdisputestatus h6{
    text-align:left !important;
   }
   /* Heading */
#disputestatus .card-header h6{
    text-align:left;
    transform:translatex(0px) translatey(0px);
    display:inline-grid;
    justify-content:normal;
    align-content:flex-end;
    padding-bottom:5px;
   }
   
.dispute .provider{
text-align: center;
justify-content: center;
}
.provider select{
    font-size: 12px!important;
}
#progress h6{
font-size: 12px;

}
.progress-bar{
    background-color: var(--primary-color)!important;
}
#progress{
    padding: 10px;
    margin-left:10px;
    margin-right:10px;
}
#importcsv input[type=file]:focus{
outline: none!important;
box-shadow: none!important;
}
#importcsv input[type=file]{
    border: 1px solid #7c7c7c;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
}
#importcsv input[type=file]:hover{
    border: 2px solid var(--primary-color);
}
/* Disputeclients */
.dispute div .disputeclients{
    display:grid;
    justify-content:center;
    text-align:center;
   }
   /* Navigation */
.dispute div nav{
    line-height:1em;
   }
.clientprogress .table th{
background: none;
text-align: center;
border: none!important;

}
.clientprogress .table th i.bi-check-circle-fill{
color: var(--primary-color)!important;
}
.clientprogress .table th i.bi-1-circle-fill,
.clientprogress .table th i.bi-2-circle-fill,
.clientprogress .table th i.bi-3-circle-fill,
.clientprogress .table th i.bi-4-circle-fill,
.clientprogress .table th i.bi-5-circle-fill,
.clientprogress .table th i.bi-6-circle-fill{
    color: #7c7c7c!important;
    }
.clientprogress i{
    font-size: 20px;
}
.clientprogress .table tr td{
    border: none!important;
    text-align: center;
}
.clientprogress .table tr:hover td{
    background: none!important;
}
.clientbilling button{
    font-size: 12px;
}

  @media (max-width:1000px){

 
    /* Head Of Table */
    .scoretable .table thead{
     transform:translatex(0px) translatey(0px);
     flex-direction:column;
    }
    
    /* Disputestatus */
    #disputestatus .card-body .disputestatus{
     flex-direction:column;
     display:inline-block !important;
    }
    
    /* Disputestatus */
    #disputestatus{
     flex-direction:column;
    }
    
    /* Row */
    #disputestatus .card-body .row{
     flex-direction:column;
     justify-content:center;
     display:inline-flex;
    }
    
    /* Card */
    #ShowClients .col-md-6 > .card{
     transform:translatex(0px) translatey(0px);
    }
    
    /* Clientprogress */
    #ShowClients .card .clientprogress{
     display:grid;
    }
    
    /* Scoretable */
    #scoretable .card-body .scoretable{
     flex-direction:column;
    }
    
    /* Card header */
    #disputestatus .card-body .card-header{
     transform:translatex(0px) translatey(0px);
    }
    
    /* Apexcharts */
    #dispute .apexcharts-canvas .apexcharts-svg{
     transform:translatex(0px) translatey(0px);
     margin-top:10px;
    }
    #disputestatus .card-header ul{
        flex-direction:column;
       }

   }
   @media (max-width: 1200px){
.col {
    flex: 0 0 auto;
    width: 100%;}
    .col-md-4 {
        flex: 0 0 auto;
        width: 100%;}
        .col-sm-3 {
            flex: 0 0 auto;
            width: 100%;} 
            .col-md-6 {
                flex: 0 0 auto;
                width: 100%;} 
    .sidebar{
        width: 88px;
    }
.sidebar .text{
    opacity: 0;
}
.sidebar .home{
    left: 88px;
    width: calc(100% - 88px);
}
.sidebar .search-box input[type=text]{
    opacity: 0;
}
.sidebar header .toggle{
    transform: translateY(-50%);
    
 }
 .sidebar .text{
    opacity: 0;
}
.home{
    position: relative;
    height: 100vh;
    width: calc(100% - 88px);
    left: 88px;
    background: var(--primary-color-light);
    transition: var(--tran-05);

}
}
#Reminders,
#Notes{
    display: grid;
}

#info-card .card .card-body{
    display:grid;
    transform:translatex(0px) translatey(0px);
    justify-content:normal;
   }
.hello .card .head h2{
    font-size: 30px;
    font-weight: 600;
}
.hello .card .head p{
    color: #7c7c7c;
    font-size: 16px;
}


.pastdata h6 span {
    color: green;
}
.pastdata .icon,
.pastdata  span.up {
    color: green;

}
.pastdata .icon.down,
.pastdata span.down  {
    color: red;

}
.pastdata .icon{
    font-size: 25px;
}
.head .pastdata h6{
    display:inline-flex;
    align-items:center;
    font-size: 14px;
   }
   
   #info-card .card .pastdata{
    margin-top:5px;
   }
   #info-card .cardlabel h2{
    margin-top:5px;
   }
/* Icon */
.labelicon .icon-active,
.labelicon .icon-new,
.labelicon .icon-all{
    align-self:flex-start;
    display:inline-flex;
    align-items:baseline;
   }
   
   /* Labelicon */
 .labelicon{
    transform:translatex(0px) translatey(0px);
    display:flex;
    justify-content:space-between;
   }
   
   /* Italic Tag */
   .labelicon .icon i,
   .labelicon .icon,
   .labelicon .icon-new,
   .labelicon .icon-active{
   
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;

    border-radius: 16px;

   }
   .labelicon .icon{
    color: var(--primary-color);    
    background: var(--light-primary);
   }
   .labelicon .icon-new{
    background: #f5f7df;

   }
   .labelicon .icon-active{
    background: #c7e6d1;

   }
 .iAlerts{
    margin-top: 10px;
    padding: 15px;
    background: var(--light-primary);
    border-radius: 5px;

  
 }
 .iAlerts h6{
color: var(--dark-text);
font-size: 14px;
 }
 .iBody{
    padding: 10px;
 }
 .iBody tr{
padding-top: 5px;
padding-bottom: 5px;
cursor: pointer;
 }
 .iMessageBody{
    padding: 10px;
 }
 .iMessageBody tr{
padding-top: 5px;
padding-bottom: 5px;
cursor: pointer;
text-align: left;
 }
 .iMessageBody tr td{
    font-size:14px !important;
   }
   .iMessageBody tr td i{
    color: green;
    font-weight: 500;
   }

 .iBody tr td{
    font-size:14px !important;
   }
   .iBody tr td i{
    color: red;
    font-weight: 500;
   }
   .iView{
padding: 10px;
    display:grid;
    justify-content:flex-end;
   }
   .iView a{
    font-size: 14px;
    color: var(--primary-color);

   }
   .iView a:hover{
    color: var(--dark-primary);    
    text-decoration: underline;
   }
   
 .iMessageBody h6{
    font-weight: 400;
    font-size: 12px;
    color: #7c7c7c;
 }
 .iMessageBody a{
    font-weight: 600;
    color: var(--dark-text);
 }
#NewClients .btn-primary,
#ActiveClients .btn-primary{
    color: #fff;
    float:none;
    padding-top: 3px!important;
    padding-bottom: 3px!important;
    font-size: 12px;
    font-weight: 500;
}
#ActiveClients td,
#NewClients td,
#clientTable td{
    text-transform: capitalize!important;
}
#NewClients h3,
#ActiveClients h3,
#loginActivity h3,
#Notes h3,
#notesTab h3,
#UploadDocuments h3,
#agentinfo h3,
#Reminders h3,
#Messages h3{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
}
#CRImport h3{
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
}
#Messages h6{
    font-weight: 500!important;
    color: #6e6e6e!important;
}
.pagination {
  text-align: center;
  }
  
  .pagination a
{

    color: var(--side-bar-color);
    float: left;
    padding: 4px 10px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd!important;
    font-size: 14px;
    border-radius: none;
    cursor: pointer;
  }

  .pagination a:hover:not(.active) {
    background-color: #ddd;}
    /* Span Tag */
.pagination .active span{
    color:#ffffff;
   }
   /* Span Tag */
.hello .row div .card .card-body #clientTable nav .pagination .active span{
    background-color:var(--side-bar-color) !important;
    border: 1px solid var(--side-bar-color)!important;
    transition: var(--tran-03);
   }
   #dashboard h3{
    font-size: 18px;
   }

  .iBody tr a{
    font-weight: 600;
    font-size: 14px;
    color: var(--dark-text);
   }
   .iBody tr h6{
    font-size: 12px!important;
    color: #7c7c7c!important;
   }

   .form-group #cmspasscb{
    display: flex;
   }



 #cmspasscb .ikxBAC {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
  }

  #cmspasscb  .ikxBAC::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
  }

  #cmspasscb  .ikxBAC,
  #cmspasscb  .ikxBAC::after {
    transition: all 100ms ease-out;
  }

  #cmspasscb  .ikxBAC::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
  }

  #cmspasscb  input[type=checkbox] {
    cursor: default;
 padding:10px;

  }

  #cmspasscb  .ikxBAC:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
  }

  #cmspasscb .ikxBAC:checked {
    background-color: var(--primary-color);
  }
  #cmspasscb  .ikxBAC:checked::after {
    background-color: #fff;
    left: 13px;
  }

  #cmspasscb :focus:not(.focus-visible) {
    outline: 0;
  }

  #cmspasscb  .ikxBAC:checked:hover {
    background-color: var(--primary-color);
  }
  #cmspasscb [type=checkbox]:checked {
    background-image: none;
}
#cmspasscb [type=checkbox]:focus {
    --tw-ring-color:none!important;
}
.clientnav{
    background: none!important;
    border-radius: none!important;
    margin-bottom: 8px;


}
.clientnav .nav .nav-item a{
    color:#7c7c7c;
    background: none;
    font-size: 14px;
    border-radius: 0;

    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 2px;
    border-bottom: 2px solid #D6D9DC;
   
}
.clientnav .nav-link.active{
border-radius: 0;    
border-bottom: 2px solid var(--side-bar-color)!important;
color: var(--side-bar-color)!important;
}.clientnav .nav-link:hover{
    border-radius: 0;    
    border-bottom: 2px solid var(--side-bar-color)!important;
    color: var(--side-bar-color)!important;
    }
.clientnav .nav-link.focus{
    border-radius: 0;    
    border-bottom: 2px solid var(--side-bar-color)!important;
    color: var(--side-bar-color)!important;
    }
/* Showcontainer */
#showcontainer{
    padding-top:5px;
    padding-bottom:5px;
   }
   
   #clientinfo,#scores,#agentinfo{
    display: grid;
   }
/* Agentinfobody */
#agentinfo .card .agentinfobody{
    display:flex;
    padding-top: 10px;
   }
   .agentimg{
    padding: 5px;
    align-items: center;
    justify-content: center;
    background-color:var(--side-bar-color);
    border-radius: 50% ;
    align-self:center;
    margin-right:10px ;
    transition: var(--tran-04);

   }
   .agentimg img{
    width: 60px;
    border-radius: 50% ;
   }

   .agentname h5{
    font-weight: 600;
    font-size:18px ;
   }
   .agentname h6{
    color: #7c7c7c!important;
    font-size: 12px;
    padding-top: 4px;
   }
   /* Agentname */
#agentinfo .card .agentname{
    align-self:center;
   }

   
   .progressbar {
    margin: 50px 0 50px 0;
    counter-reset: step;
}


.progressbar li {
    list-style-type: none;
    width: 20%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;

    color: #7d7d7d;
}
.progressbar li:before {
    width: 15px;
    height: 15px;
    content: '';
    line-height: 30px;
    border: 2px solid #7d7d7d;
    background-color: #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    transition: all .8s;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 7px;
    left: -50%;
    z-index: -1;
    transition: all .8s;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active:before {
    border-color: var(--side-bar-color);
    background-color: var(--side-bar-color);
    transition: all .8s;
}
.progressbar li.active:after {
    background-color: var(--side-bar-color);
    transition: all .8s;
}

/* Progress bar */
#progress-bar{
    margin-top:20px;
    margin-bottom:20px;
   }
   .clientname h1{
    font-weight: 700;
    color: var(--dark-text)!important;
    text-transform: capitalize;
   }
   /* Clientinfo */
#clientinfo .card .clientinfo{
    display:grid;
    transform:translatex(0px) translatey(0px);
   }
   #clientinfo .card .card-body{
    margin-top:0px;
   }

.clientinfo h6{
font-size: 12px;
align-self: center;
padding-left:10px;
}

.clientinfo2 h6{
    font-size: 12px;
    align-self: center;
    padding-left:10px;
    }
.clientinfo i{
color: var(--side-bar-color);
font-size: 22px;


}

.clientinfo2 label{
    text-align: right;
}

#clientaddress,
#clientemail,
#clientphone{

    display: inline-flex;
    align-self: center;
    align-items: center;
}
#clientphone #phonenum{
    display: grid;
}
/* Clientssn */
#clientssn{
 
    align-items:center;
   }

/* Clientdob */
#clientdob,
#clientstart,
#clientcreate,
#clientssn{
    display:flex;
   }
   
   /* Clientinfo2 */
   #clientinfo .card .clientinfo2{
    display:inline;
   }
   
   

.clientinfo{
    padding: 10px;
}
.clientinfo2{
    padding: 10px;
    padding-top: 20px;
}

#clientemail{
    align-items:center;
   }
   #clientphone span{
    color: #7c7c7c!important;
   }
.clientinfo2 label{
    font-weight: 600;
    font-size: 14px;
    color: var(--side-bar-color);
  
}
/* Agentinfobody */
#agentinfo .card .agentinfobody{
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
   }
#notesTab{
    display: grid;
}
.notesNum{
    margin-top: 10px;
    margin-bottom: 10px;
}
.notesNum p{
    color: #7c7c7c!important;
    font-size: 14px!important;
}
.notesSearch input[type=text]{
outline: none!important;
box-shadow: none!important;
background-color: #eeeff0!important;
border: 1px solid #b4b4b4!important;
border-radius: 4px!important;
font-size: 13px;
font-weight: 500;

}
.notesSearch input::placeholder{
    color: #949292!important;
}
.notesSearch, .addNote{
    margin-top: 5px;
    margin-bottom: 10px;
}
.addNote button{
    width: 100%;
    font-size: 14px;
    font-weight: 500;
}
/* Button */
.notesNum .addNote .btn-primary{
    display:inline-flex;
    align-items:center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px!important;
   }
   .notesNum i{
    font-size: 25px!important;
    margin-right: 5px!important;
    font-weight: 500!important;
   }
   #addNotes .btn-primary{
    background: var(--side-bar-color);

   }
   .notesRadio{
    display: inline-flex;
    font-size: 14px;
    color: var(--dark-text);
    padding: 10px!important;
   }
   .notesRadio .form-check{
    margin-right: 10px!important;
   }
   .notesRadio input[type=radio]:focus{
    outline: none!important;
    border: none!important;
    box-shadow: none!important;
   }
.notesRadio [type=radio]:checked#flexRadioimportant,
.notesRadio input[type=radio]:focus#flexRadioimportant {

    color: red!important;

   }
.notesRadio input[type=radio]:checked#flexRadiomedium,
.notesRadio input[type=radio]:focus #flexRadiomedium {

    color: rgb(223, 201, 5)!important;
   }
.notesRadio input[type=radio]:checked#flexRadiolow,
.notesRadio   input[type=radio]:focus#flexRadiolow{

    color: green!important;
   }
.notesTable{
  margin-top: 20px!important;
}
.notesTable{
    color: #7c7c7c!important;
    font-size: 18px!important;
}
.notesTable .important i,
#notesTab .important i{
    font-size: 30px!important;
    color: red;
}
.notesTable .medium i,
#notesTab .medium i{
    font-size: 30px!important;
    color: rgb(223, 201, 5)!important;
}
.notesTable .low i,
#notesTab .low i{
    font-size: 30px!important;
    color: green!important;
}
/* Paragraph */
tbody tr td .radiotype p{
    display:inline-flex;
    align-items:center;
    font-size:14px !important;
    color: var(--header-text);
    font-weight: 600;
   }
   
   #NotesNum .radiotype{
    margin-bottom: 10px;
   }
   .note-preview h6{
    font-size: 12px!important;
    color: #7c7c7c!important;
    margin-bottom: 10px!important;
   }
   .note-preview p{
    margin-top: 10px!important;
    text-align: end;
   }
/* Table Data */
.notesTable tr td{
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
    border-top:1px solid #c7c7c7;
     border-radius: 3px!important;
     cursor: pointer;
   }
   .notesTable tr{
      margin-top: 20px!important; 
   }
  .notesTable .radiotype i,
  #notesTab .radiotype i{
    font-size: 16px!important;
    margin-right: 5px;
  }
  
#addNotes .modal-header{
font-size: 14px!important;
}
#addNotes i.bi.bi-pencil-fill{
    padding-right: 5px;
}
#addNotes.btn{
   justify-content: right!important;
}
#exampleFormControlTextarea1{
    outline: none!important;
    box-shadow: none!important;
}
.note-preview p{
    color: #7c7c7c!important;
    align-items: center;
    justify-content: center!important;
    align-self: center;
}
#notesTab .col{
align-self: center!important;
}
#notesTab .radiotype{
    align-self: center!important;
}
#notesTab .radiotype p{
font-weight: 600;
display:inline-flex;
align-items:center;
}
.NoteBtn button{
    margin-right: 5px;
  
}
.NoteBtn{
    padding-top: 10px;
}
.NoteBtn button i{
    font-size: 12px;
}
.clientinfo .caddress{
    display: block!important;
}
#clientaddress h6,
#clientphone h6{
    padding-top: 5px;
}
#ProfileTab .col-md-6{
display: grid;
}
#ProfileTab card{
    padding: 15px!important;
}

.UpdatePass .ikxBAC {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
  }

  .UpdatePass .ikxBAC::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
  }

.UpdatePass  .ikxBAC,
.UpdatePass .ikxBAC::after {
    transition: all 100ms ease-out;
  }

.UpdatePass .ikxBAC::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
  }

.UpdatePass input[type=checkbox] {
    cursor: default;
 padding:10px;

  }

.UpdatePass  .ikxBAC:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
  }

.UpdatePass .ikxBAC:checked {
    background-color: var(--primary-color);
  }
 .UpdatePass .ikxBAC:checked::after {
    background-color: #fff;
    left: 13px;
  }



.UpdatePass  .ikxBAC:checked:hover {
    background-color: var(--primary-color);
  }
 .UpdatePass[type=checkbox]:checked {
    background-image: none;
}
.UpdatePass [type=checkbox]:focus {
    --tw-ring-color:none!important;
}
.UpdatePass .col{
   align-self: center!important;
   
}  
.UpdatePass :focus:not(.focus-visible) {
    outline: 0;
  }
  .uploadDocu{
    display: flex;
    padding: 0px 22px 5px 0px;
    justify-content: right!important;
 
  }
  #showcontainer .uploadDocu .btn-outline-primary{
    outline: none!important;
    border:0!important;
    font-size: 14px!important;
    font-weight: 500;

  }
  #showcontainer .uploadDocu .btn-outline-primary i{
    font-size: 17px!important;
    
  }
  .UDTable table td{
    font-size: 13px!important;
    color: #535353!important;
    font-weight: 500!important;

  }
  .UDTable td a {  
    
    font-size: 16px!important;
     color: var(--primary-color)!important;
     
  }
.fields label{
    font-size: 13px!important;
    font-weight: 500;
    color: var(--dark-text)!important;
    align-self: center!important;
    text-align: right!important;
}
.fields .row{
    margin-bottom:20px!important;
    
}
.fields #documentType{
    color: #18191A!important;
}

.fields #documentType option{
    font-size: 14px!important;
}
.DocuBtn{
    display: flex;
    align-self: center!important;

     justify-content: center!important;

}
.DocuBtn button{
    margin-right: 5px!important;
}
.DocuBtn .btn-primary{
    background-color: var(--primary-color);
}
.DocuBtn .btn-primary:hover{
    background-color: var(--dark-primary);
}
.clientbtn{
    text-align:left!important ;
    padding-right: 5px;
    color: var(--primary-color);
    font-size: 14px;
}
.clientbtn i{
   align-self: center;
    justify-items: center!important;
    font-size: 17px;
}
#documents-tab-pane .row{
    margin-bottom: 5px;
}


.skeleton {
    position: relative;
}
.skeleton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  
    background: linear-gradient(90deg, #eee, #f9f9f9, #eee);

    animation: skeleton 1s linear infinite alternate;
}
@keyframes skeleton {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}
/* SKELETON */

#importCRbtn,
#TestLoginBtn .btn{
    font-weight: 500!important;
    font-size: 14px;
}
#CRImport{
margin-bottom: 20px;
}

#CRbtn{
    margin-top: 5px;
    margin-bottom: 5px;
  
}
#TestLoginBtn .btn{
    padding-top: 8px;
    padding-bottom: 8px;
}

#import-tab-pane input[type=checkbox]{
    margin-left: 10px!important;
}
#import-tab-pane .form-group{
    padding-left: 25px;
    margin-top: 30px;
}